{
	"parser": "babel-eslint",
	"rules": {
		"no-unused-vars": "warn",
		"quotes": [
			"error",
			"single"
		]
	},
	"env": {
		"es6": true,
		"browser": true,
	},
	"extends": [
		"eslint:recommended"
	],
	"exclude": [
		"webpack.config.js"
	]
}